<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
</head>
<body>
	<h1 style="text-align:center">Comment</h1>
	<h3 style="text-align:center; font-family:cursive">There are {{resturant.comment_set.all | length}} comments</h3>
	{%if resturant.comment_set.all%}
		{%for comment in resturant.comment_set.all%}
			<h2 style="text-align:left">{{forloop.counter}}.</h2>
			<div margin="auto" border="2px solid black">
				<ul>
					<li>post by: {{comment.post_by}}</li>
					<li>time: {{comment.time}}</li>
					<li>email: {{comment.email}}</li>
					<li>content: {{comment.content}}</li>
				</ul>
				<form action="/comment_delete/" method="get"> {%csrf_token%}
					<input type="hidden" name="comment_id" value="{{comment.id}}">
					<input type="hidden" name="url" value="{{requestURL}}">
					<input type="submit" value="delete this comment">
				</form>
			</div>
		{%endfor%}
	{%endif%}
	<form action="/comment/{{id}}/" method="post"> {%csrf_token%}
		<table border="2px solid black" align="center">
			{{form}}
		</table>
		<input type="submit" value="make comment" style="align-items: center;">
	</form>
</body>
</html>	